@charset "UTF-8";

.d_btn{
	width: 400px;
	height: 400px;	
	margin:auto;
}
.b_btn {
	text-align: center;
	width: 60px;
	height: 30px;
	border: 1.5px solid rgb(141, 141, 141);
	background-color: white;
	border-radius: 0.5rem;
}

.b_btn:hover {
	cursor: pointer;
	color: white;
	background-color: rgb(141, 141, 141);
}

.b_btn:focus {
	outline: none;
}
.del_table{
	text-align: center;
	height: 300px;
	margin-left: 25%;
}
.del_form{
	margin-top: 100px;
}